.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.button--board {
  width: calc(400px/12);
  height: calc(400px/12);
  background-color: #61dafb;
  margin: 0;
}
